.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore data
data/
# ignore .csv
*.csv
# ignore consume original
Consume4_2/
scripts/Consume/ef_lookup/
.DS_Store
figures/
*.pdf
*.html
# ignore downsample
scripts/downsample/
scripts/Test/
scripts/mtbs
scripts/Other/GNN_pcover.Rmd
scripts/UW/UW_reclass.R
*.Rproj
*.rds